//Import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kranky&family=Mulish:ital,wght@1,300&family=Spectral:ital,wght@1,300&family=The+Girl+Next+Door&display=swap');


//Font variables

$Kr:'Kranky', cursive;
$Am:'Amatic SC', cursive;
$Mu:'Mulish', sans-serif;
$Sp:'Spectral', serif;
$Gi:'The Girl Next Door', cursive;

