

@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 48px;
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaced{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
